attrs==22.1.0
click==7.1.2
exceptiongroup==1.0.4
iniconfig==1.1.1
mysql-connector-python==8.0.31
packaging==21.3
pluggy==1.0.0
protobuf==3.20.1
pyparsing==3.0.9
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqt5-tools==5.15.4.3.2
pytest==7.2.0
python-dotenv==0.21.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
tomli==2.0.1
